<!DOCTYPE html>
<html>
<head>

<title>Student Register</title>

<link rel="stylesheet" href="/style.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">

</head>

<body>

<div class="login-container">

<div class="glass login-box">

<h3 class="mb-4">Student Registration</h3>

<form method="POST" action="/register/student">

<input class="form-control mb-2" name="name" placeholder="Full Name" required>

<input class="form-control mb-2" name="login_id" placeholder="Roll Number" required>

<input class="form-control mb-2" name="password" type="password" placeholder="Password" required>

<input class="form-control mb-2" name="year" placeholder="Year" required>

<input class="form-control mb-2" name="branch" placeholder="Branch" required>

<input class="form-control mb-2" name="section" placeholder="Section" required>

<input class="form-control mb-2" name="mobile" placeholder="Mobile Number" required>

<input class="form-control mb-2" name="email" placeholder="Email" required>

<button class="btn btn-lib w-100">Register</button>

</form>

</div>

</div>

</body>
</html>